<%= form_with model: @mentorada do |form| %>
  <div>
    <%= form.label :nome %><br>
    <%= form.text_field :nome %>
    <% @mentorada.errors.full_messages_for(:nome).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

<div>
    <%= form.label :contato %><br>
    <%= form.text_field :contato %>
    <% @mentorada.errors.full_messages_for(:contato).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :habilidades %><br>
    <%= form.text_area :habilidades %>
    <% @mentorada.errors.full_messages_for(:habilidades).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
